@import url("../../resources/base.css");
@import url("nav.css");
@import url("../../resources/tags.css");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.sections {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 2.5em;
  /* color: var(--teal); */
  align-items: center;
}

main {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

#calendar-section {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  background-color: var(--light-yellow);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 5vh;
}

#calendar {
  width: 95%;
  max-width: 1100px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#calendar-section p {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: var(--orange);
}

.fc-event:hover {
  background-color: #007bff;
  color: white;
  transition: background-color 0.2s;
}

#hover-event {
    position: absolute;
    background-color: rgba(0, 123, 255, 0.9); /* Slightly transparent blue background */
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 250px;
    text-align: left;
    line-height: 1.5;
  }
  
  #hover-event::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 123, 255, 0.9) transparent;
  }

  #user-events-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #96cac6;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#user-events-section h2 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
}

#user-events-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-events-list li {
    background-color: var(--light-green);
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    font-size: 1.1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#user-events-list li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

  
  .event-title {
    font-weight: bold;
    color: var(--orange);
    font-size: 1.2em;
  }
  
  .event-time {
    color: #666;
    font-size: 1em;
  }
  